body{
    background-image: url(images/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    color: aqua;
}
#div1{
    text-align: center;
    margin-bottom: 20px;
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#mercury{
    background-color: black;
    margin-left: 20px;

    display: inline-block;

    color: cyan;
    text-align: center;  
    

}
#venus{
    margin-left: 50px;

    display: inline-block;

    color:   cyan;
    text-align: center;  
    

}
#earth{
   
    margin-left: 50px;
    display: inline-block;

    color:   cyan;
    text-align: center;  
    

}
#mars{
    align-self: auto;
    margin-left: 50px;
    display: inline-block;

    color:   cyan;
    text-align: center;  
    

}
#jupiter{
    
    margin-left: 20px;
    display: inline-block;

    color:   cyan;
    text-align: center;  
    

}
#saturn{
    

    display: inline-block;
    margin-left: 50px;
    color:   cyan;
    text-align: center;  
    

}
#uranus{
    

    display: inline-block;
    margin-left: 50px;
    color:   cyan;
    text-align: center;  
    

}
#neptune{
    

    display: inline-block;
    margin-left: 50px;
    color:   cyan;
    text-align: center;  
    

}